{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Name</th>
                <th>Shares</th>
                <th>Current price</th>
                <th>TOTAL</th>
            </tr>
        </thead>
        <tbody>
                {% for stock in stocks %}
                    <tr>
                        <td>{{ stock.symbol }}</td>
                        <td>{{ stock.name }}</td>
                        <td>{{ stock.shares }}</td>
                        <td>{{ "${:,.2f}".format(stock.price) }}</td>
                        <td>{{ "${:,.2f}".format(stock.shares*stock.price) }}</td>
                    </tr>
                {% endfor %}
                    <tr>
                        <td>CASH</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><strong>{{ "${:,.2f}".format(cash) }}</strong></td>
                    </tr>
        </tbody>
    </table>
{% endblock %}
